@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <h1>Welcome to Appy McASPNETface</h1>
    </div>
    <div class="row justify-content-center">
        <p>I have created this application in order to have a mass repository of different coding exercises.</p>
        <p>If running the application as a whole please navigate using the nav-bar at the top of the page.</p>
    </div>
</div>